section.apartments
    .apartments__container
        h1.apartments__heading Найдено 666 квартир
        .apartments__wrapper
            .apartments__inner-wrapper
            .apartments__button-wrapper
                button.apartments__button