form.form
    .form__inputcontainer
        input.form__email(type='email' placeholder='E-mail')
        label.form__label
            input.form__checkbox(type='checkbox')
            span.form__customcheckbox
            | подписаться на&nbsp;новости
    .form__submitcontainer
        input.form__submit(type='submit' value='Подписаться')