footer.footer
    .footer__container
        .footer__left
            h5.footer__heading Успей купить!
            p.footer__text Подпишись и&nbsp;успей словить все акции
        .footer__right
            include form/form