@media screen and (max-width: 1024px)
  .header
    &__container
      margin: auto 30px auto 30px
      align-items: center
    &__logo
      margin-top: 0
    &__logo-image
      width: 26px
      height: 64px
    &__navigation
      margin-top: 0
    &__list:nth-child(n)
      margin-right: 30px
    &__link
      font-size: 16px
    &__phonebox
      margin-top: 0
    &__phonenumber
      font-size: 22px
    &__phonetext
      font-size: 12px

  .apartment-box
    margin: 0 10px 53px 10px

  .footer
    &__container
      flex-direction: column
      align-items: center
    &__heading
      text-align: center
    &__right
      margin-bottom: 44px
      margin-left: 0
      margin-right: 0