@media screen and (max-width: 1600px)
  .header
    &__container
      margin: auto 120px auto 67px
    &__logo
      margin-right: 0
    &__logo-image
      width: 31px
      height: 77px
    &__navigation
      position: initial
      left: 0
    &__menu
      margin: 0 25px 0 35px
    &__list:nth-child(n)
      margin-right: 40px
    &__link
      font-size: 20px
    &__phonenumber
      font-size: 24px
    &__phonetext
      font-size: 14px