doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Apartments
    body
        .container
            include components/slide_up/slide_up
            .content
                include components/header/header
                include components/content/apartments/content
            include components/footer/footer